.block {
    background-color: #64fc56;
    border-radius: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: white;
}

/* header */

header {
    display: flex;
    justify-content: center;
}

#header {
    width: 50%;
    height: 10vh;
    margin: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header > a {
    font-size: 30px;
}

/* main */

main {
    height: 80vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#categories {
    width: 40%;
    height: 60vh;
}

#money {
    width: 40%;
    height: 60vh;
}