.block {
    background-color: #64fc56;
    border-radius: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: white;
}

/* header */

header {
    display: flex;
    justify-content: center;
}

#header {
    width: 50%;
    height: 10vh;
    margin: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header > a {
    font-size: 30px;
}

/* main */

#name {
    width: 50%;
    height: 20vh;
    font-size: 50px;
    margin: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#expense {
    width: 30%;
    height: 10vh;
    font-weight: bold;
    font-size: 30px;
    margin: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}